  # Identifying entries

###  1.Import the necessary packages

In [20]:
import numpy as np  #numpy are imported
import pandas as pd
from geopy.distance import distance
from math import radians, sin, cos, sqrt, asin

we are going to read the data from the given dataset file.

In [21]:
df=pd.read_csv("C:\\Users\\nshra\\Downloads\\assignment_data.csv")
df

                   name   latitude  longitude
0       kbyJYJzqEVkEmpc  13.022860  77.688911
1       qbgufTPzZEkxNHV  13.093675  77.702779
2       XWIXkuyDacCmsaE  12.902879  77.633207
3      PWMPzEhgQSIJFtLl  12.864532  77.731435
4       PWMPzEhgQSIJFtL  12.865321  77.731473
...                 ...        ...        ...
11809   OtytDvqWIjeFdAt  12.864681  77.561012
11810  PGHxYVTKBPvJzRcr  12.878795  77.549211
11811   PGHxYVTKBPvJzRc  12.879561  77.549147
11812   KlOFLLHNAvTQOkU  13.061351  77.661640
11813   BKEsZzrJiKhKIae  13.019981  77.679988

[11814 rows x 3 columns]

In [22]:
print(df.head())

               name   latitude  longitude
0   kbyJYJzqEVkEmpc  13.022860  77.688911
1   qbgufTPzZEkxNHV  13.093675  77.702779
2   XWIXkuyDacCmsaE  12.902879  77.633207
3  PWMPzEhgQSIJFtLl  12.864532  77.731435
4   PWMPzEhgQSIJFtL  12.865321  77.731473

In [23]:
print(df.shape)

(11814, 3)

### 2.Inserting the another column for output

In [24]:
df.insert(3,"is_similar",0)

### 3.Claculating Haversine formula to calculate distance between two coordinates

def haversine(coord1, coord2):
    # Convert coordinates to radians
    lon1, lat1 = map(radians, coord1)
    lon2, lat2 = map(radians, coord2)
    # Haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a))
    # Radius of earth in kilometers
    r = 6371
    # Distance in meters
    return c * r * 1000

### 4.Finding coordinates i.e matching different coordinates

In [ ]:

for row1 in range(len(df)):
    for row2 in range(row1+1,len(df)):
        Coordinate_1           = (df.iloc[row1][1],df.iloc[row1][2])
        Coordinate_2           = (df.iloc[row2][1],df.iloc[row2][2])
        #Finding distance in meters via 'geopy' library in meters
        
        Distance_In_Meters     = (geodesic(Coordinate_1, Coordinate_2).meters)
        
        #If wrong input is present means except runs
        try:
            #Checking if the distance is '<=200' 
            if(Distance_In_Meters <= 200):
               
                City_1 = df.iloc[row1][0]
                
                Len_City_1 = len(City_1)
               
                City_2 = df.iloc[row2][0]
           
                Len_City_2 = len(City_2)
               
                Table      = [[0]*(Len_City_2+1) for each in range(Len_City_1+1)]
                
                for row in range(Len_City_1+1):
                   
                    Table[row][0] = row
                for row in range(Len_City_2+1):
                    
                    Table[0][row] = row
                #Iterating all character of both city and seeing the cost to make it rowth character of city-1 to colth charcter of city-2    
                for row in range(1,Len_City_1+1):
                    for col in range(1,Len_City_2+1):
                        
                        Table[row][col] = Table[row-1][col-1]
                        
                        if(City_1[row-1] != City_2[col-1]):
                            Table[row][col] = 1 + min(Table[row][col],Table[row-1][col],Table[row][col-1])
                #checkig the cost to make two strings identical if less than 5           
                if(Table[Len_City_1][Len_City_2]<5):
                    #if cost<5 then mark both the citys Similarity.
                    df.iloc[row1,3] = 1
                    df.iloc[row2,3] = 1
        except:

            print(df.iloc[row1][0],df.iloc[row2][0],len(df.iloc[row1][0]),len(df.iloc[row2][0]),len(Table),len(Table[0]))

### 5.Output file

In [ ]:
# storing the output to file
df.to_csv("output.csv")